@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization



<div class="container-fluid" style="padding-top:100px;position:center;

           text-align:center;

            display: block;
          ">
    <PageTitle>Home</PageTitle>
    <div class="text-center">
        <img src="./Images/EMSImage.png" alt="Alternate Text" class="large-image" />
    </div>

</div>
